[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"backports.entry-points-selectable" = "==1.1.0"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.6"
distlib = "==0.3.3"
dropbox = "==11.20.0"
et-xmlfile = "==1.1.0"
filelock = "==3.0.12"
idna = "==3.2"
joblib = "==1.0.1"
kiwisolver = "==1.3.2"
mat4py = "==0.5.0"
matplotlib = "==3.4.3"
numpy = "==1.21.2"
openpyxl = "==3.0.9"
pandas = "==1.3.3"
pdf2image = "==1.16.0"
platformdirs = "==2.3.0"
ply = "==3.11"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.0"
pytz = "==2021.1"
requests = "==2.26.0"
scikit-learn = "==1.0"
scipy = "==1.7.1"
seaborn = "==0.11.2"
six = "==1.16.0"
sklearn = "==0.0"
stone = "==3.2.1"
threadpoolctl = "==2.2.0"
urllib3 = "==1.26.7"
virtualenv = "==20.8.0"
virtualenv-clone = "==0.5.7"
Cycler = "==0.10.0"
Pillow = "==8.3.2"
XlsxWriter = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.8"
