[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
xlrd = "~=1.2.0"
pdf2image = "*"
sklearn = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.8"
