[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
requests = "*"
xlsxwriter = "*"
openpyxl = "*"
mat4py = "*"
pdf2image = "*"

[dev-packages]

[requires]
python_version = "3.11"
